<%= form_for(@stat) do |f| %>
  <% if @stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% @stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui-widget">
    <label for="names">Actor names: </label>
    <%= f.text_field :actors, size: 80 %>
  </div>

  <div class="actions">
    <%= f.submit "Generate report" %>
  </div>
<% end %>
